@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800&display=swap');
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul, ol {
    list-style: none;
}

/* Set core body defaults */
html,
body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Jost', sans-serif;
}


:root {
    --h1: 3rem;
    --h2: 2.75rem;
    --h3: 2.5rem;
    --h4: 2.25rem;
    --h5: 2rem;
    --h6: 1.75rem;
    --destacado: 22px;
    --p: 20px;
    --navbar-item: 18px;
    --black: #050505;
    --white: #ffffff;
    --lightgrey: #f2f2f2;
    --brown: #794D32;
    --grey: #121212;
    --purple: #AC91C4;
}

.navbar-item {
    font-size: var(--navbar-item);
    color:#000000;

}

.destacado {
    font-size: var(--destacado);
    font-weight: 300;
}

.h1 {
    font-size: var(--h1);   
}
.h2 {
    font-size: var(--h2); 
}
.h3 {
    font-size: var(--h3); 
}
.h4 {
    font-size: var(--h4); 
}
.h5 {
    font-size: var(--h5);
}
.h6 {
    font-size: var(--h6);
}
.text-white {
    color: var(--white);
}
.bolder {
    font-weight: 800;
}
.bold {
    font-weight: 700;
}
.semi-bold {
    font-weight: 600;
}
.medium {
    font-weight: 500;
}
.regular {
    font-weight: 400;
}
.light {
    font-weight: 300;
}

.text-purple {
    color: var(--purple);
}

.bg-black {
    background-color: var(--black);
}
.bg-grey {
    background-color: var(--grey);
}

/* ESTILOS NAVBAR */

.navbar {
    background-color: #f2f2f2;
    box-shadow: rgba(17, 12, 46, 0.05) 0px 48px 100px 0px;
}
.navbar-brand img {
    padding: 1rem 1rem 1rem 0rem;
}
.navbar-nav .nav-item {
    margin-right: 10px;
}
.navbar-nav .nav-item a {
    position: relative;
    text-decoration: none;
}
.navbar-nav .nav-item a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color:#AC91C4;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    font-weight: 700;
}
.navbar-nav .nav-item a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    font-weight: 700;
}
.navbar-collapse {
    align-items: center;
    justify-content: end;
}
.navbar-collapse.mostrar{
    display:flex;
    flex-direction:column;
    }
    
    @media (max-width:991px){
    .collapse.navbar-collapse{
    justify-content:space-betweeen;
    }
    }
    
    @media (max-width:991px){
    
    .collapse {
        transition: height 1.5s ease;
    }
    .navbar-collapse.mostrar{
        transition: ease-in .3s;
        display: flex !important;
        height: 100vh;
        align-items: center;
        justify-content: start;
        padding-top: 2rem;
        text-align: center;
        font-size: 22px;
    }
    .navbar-collapse.mostrar .navbar-nav li{
        background: transparent;
        border: 2px solid #fff;
        padding: 5px 12px;
        margin-top:14px;
        width: 280px;
    }
    .navbar-nav {
        margin-left: 10px!important;
    }
    }

.navbar-toggler {
    background-color: #fff!important;
    border: none!important;
}

a.btn-navbar {
    text-decoration: none;
    color: #fff;
    background-color: #AC91C4;
    padding:8px 12px;
    border-radius: 16px;
}

a.btn-navbar:hover {
    color: #AC91C4;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}



/* Style NAVBAR-2 */

#header-main {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 20px;
    z-index: 20;
}

#header-main .container,
#header-main .container-fluid {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#header-main .main-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
}

.main-menu .dropdown {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    z-index: 40;
    
    width: 100%;
    bottom: -10rem;
    border-radius: 1rem;
    border-top-right-radius: 0;
    padding: 2rem 1rem 3rem 1rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: opacity .2s ease-out;
}

.main-menu .item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    z-index: 40;
    padding-left: .5rem;
    padding-right: .5rem;
    cursor: pointer;
}

.main-menu .item.item-dropdown {
    position: relative;
}

.main-menu .item.item-dropdown:hover {
    cursor: pointer;
}


.main-menu .item.item-dropdown:before {
    content: "";
    position: absolute;
    background-color: #fff;
    width: calc(100% + 1.25rem);
    height: 3.45rem;
    pointer-events: none;
    left: -10%;
    top: -1rem;
    opacity: 0;
    transition: opacity .2s ease-out;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.main-menu .item.item-dropdown.active:before {
    opacity: 1;
    z-index: -1;
}

.main-menu .item.item-dropdown.active svg {
    transform: rotate(180deg);

}



.main-menu .dropdown.active {
    opacity: 1;
    pointer-events: all;
    z-index: 10;
}

.main-menu .dropdown .item img {
    width: 40px;
}

#menu-toggler {
    display: none;

    z-index: 9999999;


}

#menu-toggler .hamburger-inner,
#menu-toggler .hamburger-inner:after,
#menu-toggler .hamburger-inner:before {
    background-color: #000;
}



@media (max-width: 1030px) {
    #menu-toggler {
        display: inline-block;
    }

    .swiper{
        overflow: hidden!important;
    }

    #header-main .main-menu {
        display: flex;
        position: fixed;
        background-color: #002e66eb;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 4rem;
        flex-direction: column;
        z-index: 0;
        opacity: 0;
        pointer-events: none;
        transition: all .2s ease-out;
    }

    body.nav-open #header-main .main-menu {
        z-index: 999;
        opacity: 1;
        pointer-events: all;
    }

    .main-menu .dropdown .item p br {
        display: none;
    }

    .item p{
        text-align: left!important;
    }

    .main-menu .item {
        font-weight: 500;
        font-size: var(--text-ml);
    }

    .main-menu .dropdown {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        bottom: 2rem;
        row-gap: 40px;
    }
}